
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f0f0f0;
}

.container {
	padding: 0 20px;
}

.gallery {
/*	margin: 20px auto 0;
	width: 90%;*/
/*	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;*/
	
}

.gallery-col {
	display: inline-block;
	padding: 0 5px;
	vertical-align: top;
}

.gallery-item {
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 5px #ccc;
}

.gallery-item-info {
	padding: 15px 10px;
}

.gallery-image img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.btn {
	text-align: center;
}
/*
.gallery .gallery-col:nth-child(1){
	height: 300px;
}
.gallery .gallery-col:nth-child(2){
	height: 200px;
}
.gallery .gallery-col:nth-child(3){
	height: 140px;
}

.gallery .gallery-col:nth-child(4){
	height: 120px;
}
.gallery .gallery-col:nth-child(5){
	height: 180px;
} */